body{
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url(../images/f01f8175bb2db3c9943f.jpg)bottom no-repeat;
    background-size: cover;
}
h1 {
    color: #f5f4f2;
    font-size: 4rem;
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}
footer .links {
    margin-bottom: 50px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
.copyright {
    color: rgb(10, 20, 28);
    font-family: 'Times New Roman', Times, serif;
}
.news {
    background-color: #fff;
    padding: 50px 0 32px;
}
article{
    width: 780px;
    margin:0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}
article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}
article a:hover {
    color: #0085a1;
}
article h2{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}
.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}
article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
main {
    display: flex;
    align-items: center;
    justify-content: center; 
}